.footer_wrapper {
  top: 100%;
  width: 100%;
  margin-top: auto;
  padding: 0 20px 0 20px;
  display: flex;
}

.footer_note {
  font-size: 11px;
  color: #414042;
}
.footer_kasdeb {
  display: inline-block;
  margin-left: auto;
  text-align: right;
  font-size: 9px;
}
