/* ["#0d1321", "#1d2d44", "#3e5c76", "#748cab", "#f0ebd8", "#9ceb99", "#0d6bbd"]; */

body {
  margin: 0;
  font-family: "Open Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  color: #1b1b1b;
}

a {
  text-decoration: none !important;
  color: #0d6bbd !important;
}

.App {
  background-image: url("./img/svg/hexBG.svg");
}
.righteous-font {
  font-weight: bold;
  color: #0d6bbd;
  font-family: "Righteous", Sans-Serif;
}
.righteous-font-ub {
  color: #0d6bbd;
  font-family: "Righteous", Sans-Serif;
}
